<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/ReadingCorner.png" alt="main logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">
    
  </section>

  <div id="errPopUp" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <img id="pigeon" src="assets/img/domo.png" alt="pigeon with stop sign"/>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>