<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <a href="/login"><img id="logo" src="/assets/img/ReadingCorner.png" alt="main logo"/></a>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  <button onclick="window.location.href='/admin-login'">Admin Only</button>

  <script>
        document.getElementById('admin-button').addEventListener('click', function() {
            const password = prompt('Enter Admin Password:');
            if (password === 'book123!') {
                window.location.href = '/admin';
            } else {
                alert('Incorrect password!');
            }
        });
    </script>
  <section id="content">

  </section>

  <div id="errPopUp" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <img id="pigeon" src="assets/img/pigeon.png" alt="pigeon with stop sign"/>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>